<section class="search-bg">
    <div>
        <div style="text-align: center; padding-top: 15px;">
            <h3 style="color: white;">Your Profile</h3>
    
        </div>
        <div class = "search-table">
            <table class = "table table-borderes">
                <thead class = "thead">
                    <tr>
                        <th>User Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Mobile Number</th>
                        <th>User Type</th>
                        <th>Employer Type</th>
                        <th>Employer Name</th>
                        <th>Pan Number</th>
                        <th>Category</th>
                        <th>Date of Birth</th>
                        <th>Address</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody class = "tbody">
                    <tr *ngFor="let admin of adminDetails">
                    <td>{{admin.userId}}</td>
                    <td>{{admin.fname}}</td>
                    <td>{{admin.lname}}</td>
                    <td>{{admin.email}}</td>
                    <td>{{admin.mobNo}}</td>
                    <td>{{admin.userType}}</td>
                    <td>{{admin.employerType}}</td>
                    <td>{{admin.employerName}}</td>
                    <td>{{admin.panNumber}}</td>
                    <td>{{admin.userCategory}}</td>
                    <td>{{admin.dob}}</td>
                    <td>{{admin.address.addressLine}}, {{admin.address.city}}, {{admin.address.state}}, {{admin.address.pincode}}</td>
                    <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UserModal">Edit Details</button></td>
                    </tr>
                </tbody>
            
            </table>
               
        </div>
       </div>


    <div style="text-align: center; padding-top: 15px;">
        <h3 style="color: white;">Manage Users</h3>
    
    </div>
<button style="margin-bottom: 25px; margin-left: 25px;" class="btn btn-primary btn-lg" (click)="getAllUsers()" type ="submit">Get All Users</button>

<div class = "search-table">
    <table class = "table table-borderes">
        <thead class = "thead">
            <tr>
                <th>User Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Mobile Number</th>
                <th>User Type</th>
                <th>Employer Type</th>
                <th>Employer Name</th>
                <th>Pan Number</th>
                <th>Category</th>
                <th>Date of Birth</th>
                <th>Address</th>
                <th>Policies</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class = "tbody">
            <tr *ngFor="let user of userDetails">
            <td>{{user.userId}}</td>
            <td>{{user.fname}}</td>
            <td>{{user.lname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.mobNo}}</td>
            <td>{{user.userType}}</td>
            <td>{{user.employerType}}</td>
            <td>{{user.employerName}}</td>
            <td>{{user.panNumber}}</td>
            <td>{{user.userCategory}}</td>
            <td>{{user.dob}}</td>
            <td>{{user.address.addressLine}}, {{user.address.city}}, {{user.address.state}}, {{user.address.pincode}}</td>
            <td><button class="btn button" (click)="getUserPolicyByUserId(user.userId)">View Policies</button></td>
            <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UserModal">Edit Details</button></td>
            <td><button class="btn btn-danger" (click)="deleteUser(user.userId)">Delete User</button></td>
            </tr>
        </tbody>
    
    </table>
    
    
</div>


<div>
  <div style="text-align: center; padding-top: 15px;">
      <h3 style="color: white;">Manage User Policies</h3>

  </div>
<!----  <button style="margin-bottom: 25px; margin-left: 25px;" class="btn btn-primary btn-lg" (click)="getAllUserPolicies()" type ="submit">Get All User Policy</button>  -->

  <div class = "search-table">
      <table class = "table table-borderes">
          <thead class = "thead">
              <tr>
                  <th>Policy No</th>
                  <th>Policy Name</th>
                  <th>Type</th>
                  <th>Company</th>
                  <th>Start Date</th>
                  <th>End Date</th>
                  <th>Term Period</th>
                  <th>Term Amount</th>
                  <th>Maturity Amount</th>
                  <th>Interest</th>
                  <th>Edit</th>
                  <th>Delete</th>

              </tr>
          </thead>
          <tbody class = "tbody">
              <tr *ngFor="let user of userPolicyDetails">
                  <td>{{user.policyNo}}</td>
                  <td>{{user.policyName}}</td>
                  <td>{{user.policyType}}</td>
                  <td>{{user.company}}</td>
                  <td>{{user.startDate}}</td>
                  <td>{{user.endDate}}</td>
                  <td>{{user.termPeriod}}</td>
                  <td>{{user.amount}}</td>
                  <td>{{user.maturityAmount}}</td>
                  <td>{{user.interest}}</td>
                  
                  <td><button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#UserModal">Modify</button></td>
                  <td><button class="btn btn-danger" (click)="deleteUserPolicy(user.policyNo)">Delete</button></td>

              </tr>
          </tbody>
      
      </table>
         
  </div>
 </div>





<app-policy-search></app-policy-search>
</section>


<!-- Modal -->
<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update User Details</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form #formData=ngForm (ngSubmit)="updateUser(formData)">
                <div class="form-group">
                    <label>User Id</label>
                    <input class="form-control" placeholder="User Id" type="userId" required name="userId" #userId="ngModel" ngModel>
                    <span style="color:red"  *ngIf="userId.touched && userId.invalid" > * User Id is required</span>

                  </div>
                <div class="form-group">
                  <label>First Name</label>
                  <input class="form-control" placeholder="First Name" type="fname" required name="fname" #fname="ngModel" ngModel>
                  <span style="color:red"  *ngIf="fname.touched && fname.invalid" > * First Name is required</span>

                </div>
                <div class="form-group">
                  <label>Last Name</label>
                  <input class="form-control" placeholder="Last name" type="lname" required name="lname" #lname="ngModel" ngModel>
                  <span style="color:red"  *ngIf="lname.touched && lname.invalid" > * Last Name is required</span>

                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input placeholder="Email" type="email" class="form-control" name="email" required   #email="ngModel"  ngModel/>
                    <span style="color:red"  *ngIf="email.touched && email.invalid" > * Email is required</span>

                </div>
                  <div class="form-group">
                    <label>Mobile Number</label>
                    <input placeholder="Mobile No" type="mobNo" class="form-control" name="mobNo" required   #mobNo="ngModel"  ngModel/>
                    <span style="color:red"  *ngIf="mobNo.touched && mobNo.invalid" > * Mobile No is required</span>

                </div>
                <div class="form-group">
                    <label>Pan Number</label>
                    <input placeholder="Pan No" type="panNumber" class="form-control" name="panNumber" required   #panNumber="ngModel"  ngModel/>
                    <span style="color:red"  *ngIf="panNumber.touched && panNumber.invalid" > * Pan Number is required</span>

                </div>
                  <div class="form-group">
                    <label>Employer Name</label>
                    <input placeholder="Employer Name" type="employerName" class="form-control" name="employerName" required   #employerName="ngModel"  ngModel/>
                    <span style="color:red"  *ngIf="employerName.touched && employerName.invalid" > *Employer Name is required</span>

                </div>
                <mat-form-field>
                    <mat-label>Employer Type</mat-label>
                    <select matNativeControl [formControl]="employerTypeControl" required>
                      <option value="Salaried">Salaried</option>
                      <option value="Optional">Others</option>
                    </select>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Income</mat-label>
                    <select matNativeControl [formControl]="userCategoryControl" required>
                      <option value="A">Less Than 5LPA</option>
                      <option value="B">Less Than 10LPA</option>
                      <option value="C">Less Than 15LPA</option>
                      <option value="D">Less Than 30LPA</option>
                      <option value="E">More Than 30LPA</option>

                    </select>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" type="dob" class="form-control" name="dob"  required  #dob="ngModel"  ngModel>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>User Type</mat-label>
                    <select matNativeControl [formControl]="userTypeControl" >
                      <option value="User">User</option>
                    </select>
                  </mat-form-field>
                  <div class="form-control">
                    <input placeholder="Address Line" type="addressline" class="form-control " name="addressline"  required  #addressline="ngModel"  ngModel/>
                      <span style="color:red"  *ngIf="addressline.touched && addressline.invalid" > * Address Line is required</span>
                  </div>
                  <div class="form-control">
                    <input placeholder="Pin Code" type="pincode" class="form-control"  name="pincode"  required  #pincode="ngModel"  ngModel/>
                    <span style="color:red"  *ngIf="pincode.touched && pincode.invalid" > * Pincode is required</span>
                  </div>
                  <div class="form-control">
                    <input placeholder="State" type="state" class="form-control " name="state"  required  #state="ngModel"  ngModel/>
                    <span style="color:red"  *ngIf="state.touched && state.invalid" > * State is required</span>
                  </div>
                  <div class="form-control">
                    <input placeholder="City" type="city" class="form-control " name="city"  required  #city="ngModel"  ngModel/>
                    <span style="color:red"  *ngIf="city.touched && city.invalid" > * City is required</span>
                  </div>
                      <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">Update Details</button>
                    </form>

      </div>
    </div>
  </div>