.header {
  width:100%;
  padding: 25px;
  color: #fff;
  text-align: right;
}
.logo
{
  padding: 25px;

}
.welcome-area {
    overflow: hidden;
    position: relative;
    display: flex;
    
    background-image: url(../../../assets/logoblur.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 90%;
  }
  
  .welcome-area .header-text 
  {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    text-align: center;
    width: 100%;
  }
    .welcome-area .header-text h1 
    {
      color: #fff;

    }
    .welcome-area .header-text p
    {
      text-align: center;
      color: #fff;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 50px;
    }

    .section-policies 
    {
      background-image: url(../../../assets/bg2.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    #hover-img .card:hover img 
    {
    transform: scale(1.2); 
    transition: .3s ease-in-out;
    }
