<h5>Thankyou For Joining In Our Club</h5>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary col-md-12">
    <div class="container-fluid">
     
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="addplayers">AddPlayers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="displayall">View All</a>
          </li>
        </ul>
        

        
      </div>
    </div>
  </nav>
  <body>
      <h5> Play more!!!</h5>
  </body>
  <router-outlet></router-outlet>



